# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.idea


# due to using tox and pytest
.tox
.cache
.idea/apk-signature-verify.iml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
